@import "styles/breakpoints.scss";

.serviceBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: 230px;
  height: 230px;

  background-color: #ffffff;
  border-radius: 5px;

  color: black;
  filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 0.5));

  position: relative;

  transition: 0.5s;

  @include media(">=tablet") {
    width: 200px;
    height: 200px;
  }
  @include media(">=laptop") {
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  .serviceDescription {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.newServiceDot {
  width: 30px;
  height: 30px;

  background-color: var(--coral-color);
  border-radius: 50%;

  position: absolute;
  top: -15px;
  left: -15px;

  @include media(">=tablet") {
    width: 20px;
    height: 20px;

    top: -10px;
    left: -10px;
  }
}
