@import "styles/breakpoints.scss";

.navContainer {
  height: 90px;
  background-color: var(--dark-color);

  display: flex;
  align-items: center;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    .navLinks {
      display: flex;
      flex-direction: column;

      text-align: center;
      gap: 30px;

      .navItem {
        padding: 20px 40px;

        @include media(">=laptop") {
          padding: 0;
        }
      }
      .navLink {
        padding: 20px 40px;
        transition: color 0.4s;

        @include media(">=laptop") {
          padding: 0;
          cursor: pointer;

          &:hover {
            color: var(--coral-color);
          }
        }
      }
      @include media(">=laptop") {
        flex-direction: row;
        justify-content: flex-end;
        gap: 70px;
      }
      .disallowed {
        cursor: not-allowed;

        &:hover {
          color: inherit;
        }
      }
    }
  }
  .logoBox {
    display: flex;
    align-items: center;
    gap: 10px;

    .logo {
      height: 35px;
    }
  }
  .menu {
    width: 80%;
    height: 100%;

    padding: 50px 0;

    background-color: var(--dark-color);
    z-index: 2;

    position: fixed;
    top: 90px;
    right: -100%;

    transition: right 0.4s;

    @include media(">=laptop") {
      position: initial;
      padding: 0;
      width: fit-content;
    }
  }
  .showMenu {
    right: 0;
  }

  .navBtn {
    @include media(">=laptop") {
      display: none;
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
}
